<!doctype html>
<html ng-app="routing">
    <head>
        <title>Hello, world!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <base href="/"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body ng-controller="MainController">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#ef000d;">
            <a class="navbar-brand" href="/">AngularRouting</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>

            <button ng-click="debug = !debug">debug mode</button>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col">

                    <ng-view></ng-view>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    Copyright &copy; 2017 | Karydakis
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/MainController.js"></script>
        <script src="js/controllers/HomeController.js"></script>
        <script src="js/controllers/AboutController.js"></script>
        <script src="js/controllers/ProductsController.js"></script>
        <script src="js/controllers/ContactController.js"></script>
        <script src="js/controllers/ProductController.js"></script>
    </body>
</html>