<h1>Products page</h1>

min: <input type="number" ng-model="storage.min">
<br>
max: <input type="number" ng-model="storage.max">


<button ng-click="reset()">reset</button>
<ul>
    <li ng-repeat="shoe in shoes | filter: myfilter" ng-class="{'bg-success':shoe.onSale,'bg-danger':!shoe.onSale}">
        <a href="/product/{{ shoe.id }}">{{ shoe.name }}</a>
         - {{ shoe.price | number:2 }}&euro;
    </li>
</ul>

<pre ng-if="debug">
$scope.shoes = {{ shoes | json }}
</pre>